body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #ffd0ff;
}
header{
    text-align: center;
    padding: 30px 0px;
}
#img-div{
    width: 1240px;
    margin: 0px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#image{
    margin: auto;
}
#img-caption{
    padding: 15px 0px;
    color: #636363;
    font-size: 15px;
}
#main{
    width: 600px;
    margin: auto;
    color: #636363;
}
#main h2{
    text-align: center;
    padding: 20px 0px;
    color: #000;
}
ul{
    padding: 0%;
    margin: 30px 0px;
}
ul li{
    margin-bottom: 20px;
}
li strong{
    color: #000;
}
footer{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0px;
}
footer #tribute-link{
    color: #4d3fce;
}
@media (max-width: 1240px){
    #img-div{
        width: 90%;
    }
    #image{
        width: 90%;
    }
    #img-caption{
        width: 90%;
    }
    #main{
        width: 90%;
    }
}